

.room-section {
    background-image: url("https://cdn.shopify.com/s/files/1/0758/9101/6001/files/istockphoto-1219335129-612x612.jpg?v=1697720498");
    width: 100%;
    height: auto;
    margin: 8rem 3rem;
    border: solid black 2px;

}