

.room-section {
    height: 60rem;
    margin: 8rem 3rem;
    display: flex;
    justify-content: space-between;
}


.kitchen-img-box {
    
}

.dining-img {
    width: auto;
    height: auto;
}

.product-btn-column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.kitchen-collection {
    display: grid;

}


.kitchen-btn {
    border: solid black 1px;
}

.kitchen-h3 {
    font-size: 1rem;

}