.promo-section-two {
    margin: 8rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    height: auto;


  }
  
  
.promo-kitchen {
  height: 30rem;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
}
    


.logo-kitchen {
  align-self: center;
  justify-self: center;
  width: 25rem;
  height: 25rem;
}

.room-section {
  background-image: url("https://cdn.shopify.com/s/files/1/0758/9101/6001/files/istockphoto-1357529222-612x612.jpg?v=1697722273");
  margin: 8rem 3rem;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60rem;
  background-position: center;


}

.kitchen-appl {
  background-image: url("https://cdn.shopify.com/s/files/1/0758/9101/6001/files/pexels-photo-5824883.webp?v=1697722409");
  margin: 8rem 3rem;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  background-position: center;


}


.bedding-section {
  background-image: url("https://cdn.shopify.com/s/files/1/0758/9101/6001/files/pexels-photo-90319.jpg?v=1697722687");
  margin: 8rem 3rem;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
  background-position: center;
}

.closet-bedding {
  display: flex;
  margin: 8rem 3rem;
  border: solid black 1px;
  height: 60rem;
}


.left {
  background-image: url("https://cdn.shopify.com/s/files/1/0758/9101/6001/files/pexels-photo-7535017.webp?v=1697722607");
  width: 50%;
  height: 100%;
}

.right {
  background-image: url("https://cdn.shopify.com/s/files/1/0758/9101/6001/files/pexels-photo-14613154.jpg?v=1697722653");
  width: 50%;
  height: 100%;
}
