.social-media-section {
    text-align: center;
    margin-top: 20px;
  }
  
  .social-media-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
  }
  
  .social-icons li {
    display: inline;
    margin: 0 10px;
  }
  
  .social-icons a i {
    font-size: 30px;
    color: #3B3B3B; /* Customize the color to match your design */
  }
  